*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  margin: 0;
  background: #fff;
  color: #181818;
  font-size: 16px;
  min-width: 360px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}